body {
  background-color: black;
}

/* App component*/
.nav-and-main-container {
  display: grid;
  grid-template-columns: 5% 95%;
  max-width: 100%;
}
.main-container {
  height: 100vh;
  width: 100%;
  overflow: scroll;

  overflow-x: hidden;
}

.main-container > h1 {
  color: white;
  padding-left: 36px;
}

/* Media Header */
.media-header-container {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.media-header-container > h1 {
  color: darkorange;
  font-size: 3rem;
  font-style: italic;
  text-shadow:
    0px 4px 5px white,
    0px 5px 6px blue;
}

/* Media Nav */

.main-nav-container {
  display: flex;
  height: 100vh;

  width: 4.5vw;
  position: relative;
}
.nav-icons-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 3;
  background-color: black;
}

.nav-descriptions-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 180%;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  z-index: 2;
  background-color: black;
  transform: translateX(-80px);
  transition: all 1s ease-in-out;
  padding-left: 10px;
  box-shadow:
    4px 4px 5px darkorange,
    5px 5px 10px darkblue;
}
.icon-container {
  height: 40px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.view-descriptions {
  transform: translateX(60px);
  transition: transform 1s ease-in-out;
}
.cancel-description-container {
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  padding: 5px;
  width: 70%;
}

.cancel-description-container > button {
  font-size: 30px;
  background-color: black;
  border: none;
}

.cancel-description-container > button > span {
  font-size: 30px;
  color: white;
}
.cancel-description-container > button > span:hover {
  cursor: pointer;
  animation: colourChange 2s infinite linear;
}
.description-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px;
  border-left: 2px solid white;
  padding-left: 20px;
}

.description-container > p {
  font-size: 18px;
}
.icon-container:hover {
  cursor: pointer;
}

.icon-container > span {
  color: white;
  font-size: 38px;
}

.icon-container > span:hover {
  animation: colourChange 2s infinite linear;
}

.film-icon-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.film-icon-container > i {
  font-size: 32px;
  color: white;
}

.film-icon-container > i:hover {
  animation: colourChange 2s infinite linear;
}

.film-icon-container:hover {
  cursor: pointer;
}

@keyframes colourChange {
  0% {
    color: rgb(246, 183, 66);
    transform: scale(1.05);
  }

  25% {
    color: lightblue;
    transform: scale(1.1) rotate(-10deg);
  }
  50% {
    color: rgb(246, 183, 66);
    transform: scale(1.2);
  }

  75% {
    color: lightblue;
    transform: scale(1.05) rotate(10deg);
  }
}
/* Media Movie and Media Tv Hero section */

.carousel-container {
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  width: 97%;
}

.title-overview-container {
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 20px;
  background: linear-gradient(45deg, rgba(0, 0, 0), 30%, rgba(0, 0, 0, 0.5));
}
.title-overview-container > h1 {
  color: white;

  font-size: 4rem;
}

.overview-container {
  height: auto;
  width: 40%;
}
.overview-container > p {
  color: white;
  font-size: 1.2rem;
}

.markers-container {
  height: 40px;
  width: 18%;
  position: absolute;
  justify-content: center;
  left: 41%;
  bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.marker {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}
.marker:hover {
  cursor: pointer;
}

.carousel {
  height: 100%;
  position: absolute;

  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*  Media Movie and Media Tv  */
.media-tv-section > h2,
.media-movie-section > h2 {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
  padding-left: 37px;
}

.media-tv-card-container,
.media-movie-card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 33px;
  padding-bottom: 52px;
}

.tv-card-container,
.movie-card-container {
  height: 300px;
  width: 200px;
  border-radius: 8px;
  position: relative;
  transition: all 1s ease-in-out;
}

.tv-card-container:hover,
.movie-card-container:hover {
  box-shadow: 0px 3px 4px gold;
  transition: all 1s ease-in-out;
  transform: scale(1.02);
}

.star-and-average-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.star-and-average-container > span {
  color: yellow;
  font-size: 20px;
}

.star-and-average-container > p {
  color: yellow;
}

.show-image,
.movie-image {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.show-info-container,
.movie-info-container {
  height: auto;
  position: absolute;
  border-radius: 8px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: end;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0));
  color: white;
  padding: 10px 3px;
  opacity: 0;
  transition: all 1s ease-in-out;
  gap: 10px;
}

.show-info-container:hover,
.movie-info-container:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 1s ease-in-out;
}
.show-overview,
.movie-overview {
  overflow: hidden;
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: auto;
  font-size: 14px;
}

.show-rating-and-date,
.movie-rating-and-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: yellow;
}

/* Media Footer */
footer {
  height: 15vh;
  width: 100%;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid darkorange;
  background-color: rgb(22, 22, 22);
}

.footer-company-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-company-logo-container > p {
  font-size: 18px;
}

.back-to-top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-to-top-container > a {
  text-decoration: none;
  color: white;
}

.back-to-top-container > a > span {
  font-size: 40px;
}

.back-to-top-container > a > span:hover {
  cursor: pointer;
  animation: colourChange 2s infinite linear;
}
.back-to-top-container > p {
  color: white;
  font-size: 18px;
}
.footer-link-container {
  display: flex;
  gap: 20px;
}

.footer-link-container > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.footer-link-container > a:hover {
  cursor: pointer;
  text-decoration: underline;
}
